@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=LXGW+WenKai+TC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* html {
  height: 100%;
  width: 100%;
} */

body {
  margin: 0;
  background-color: #ffff;
  overflow-x: hidden;
}

.main_header {
  width: 99%;
  height: 100%;
  background-color: #660505;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

.search {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  height: 100%;
  background-color: #E6E6E6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  color: #000;
  margin-top: 30px;
  font-size: 30px;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
}
/* 
.search_list {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  max-height: 30%;
  background-color: #fcc7c7;
  margin: 0 auto;
  padding: 10px;
  color: #000;
  border-radius: 10px; 
} */

/* input {
  width: 90%;
  font-family: "Montserrat", sans-serif;
}

.search:active > .elastic {
  display: initial;
}

.elastic:hover {
  display: block;
}

li {
  text-align: left;
  padding: 5px;
}

nav ul li {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  max-height: 30%;
  background-color: #fcc7c7;
  margin: 0 auto;
  padding: 10px;
  color: #000;
  border-radius: 10px;
  /* display: none; */


a {
  text-decoration: none;
  color: #333;
}

h1 {
  margin: 0;
  margin-left: 20px;
  letter-spacing: 5px;
  font-size: 25px;
  color: #ffff;
  font-family: "Montserrat", sans-serif;
}

.type_table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #333;
  margin: 0 auto;
  padding: 10px;
  border-spacing: 10px 3px;
}

.th {
  margin: 10px;
  padding: 5px 25px 5px 25px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.anime_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.anime_card {
  background-color: dimgrey;
  margin: 10px;
  padding: 10px;
  flex: 1;
  max-width: 23%;
  border-radius: 10px;
  color: #ffff;

}

.card_info {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.link {
  color: #ffff;
}

img {
  padding: 0 auto;
  border-radius: 10px;
}

.featured {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 95%;
  height: 100%;
}

.featured_table {
  margin: 0 auto;
  padding: 10px;
  border-spacing: 10px 3px;
}

.best {
  background-color: #660505;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #ffff;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
  letter-spacing: 5px;
  display: flex;
  padding-left: 30px;
}

footer {
  background-color: #660505;
  color: #ffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}

.footer {
  color: #fbd8d8;
}